.hero-section {
    background-image: url(../img/hero-img1.png);
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: calc(50% - 661px) top;
    background-color: $green-color;
}

.hero {
    padding-bottom: 250px;
    background-image: url(../img/hero-img2.png);
    background-repeat: no-repeat;
    background-size: 358px 100px;
    background-position: right bottom;
    @include display($item:center, $space:space-between, $gap:0px);
}

.hero__title-wrapper {
    width: 570px;
}

.hero__title {
    @include textStayle($FS:100px, $FW:700, $LH:100px, $MB:0, $CLR:white);
}

.hero__title-color {
    color: $pink-color;
}

.hero__text-wrapper {
    width: 445px;
}

.hero__text-top-line {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: $light-green;
    margin-bottom: 79px;
}


.hero__text {
    @include textStayle($FS:18px, $FW:600, $LH:28px, $MB:0, $CLR:white);
}



@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        text-align: center;
        background-position: center bottom;
        @include display($item:center, $space:start, $gap:24px);
    }

    .hero__text-top-line {
        display: none;
    }

    .hero__title {
        @include textStayle($FS:74px, $FW:700, $LH:56px, $MB:0, $CLR:white);
    }

    .hero__text {
        @include textStayle($FS:15px, $FW:600, $LH:28px, $MB:0, $CLR:white);
    }

    .hero__title-color {
        color: $pink-color;
    }

    .hero__title-wrapper,  .hero__text-wrapper{
        width: 100%;
    }
}


@media (max-width: 800px) {
    .hero {
        padding-bottom: 197px;
        @include display($item:center, $space:start, $gap:18px);
    }

    .hero__title {
        @include textStayle($FS:40px, $FW:700, $LH:40px, $MB:0, $CLR:white);
    }

    .hero__title-color {
        color: $pink-color;
    }
}

@media (max-width: 400px) {
    .hero {
        background-size: 100%;
    }
}